[Unit]
DescriptionDescription=GservAPI Service - FastAPI application for serving mobile app (Gserv)
After=syslog.target
After=network.target
After=nginx.service

[Service]
Type=notify

User=g
Group=www-data

WorkingDirectory=/var/www/gserv-api/

ExecStartPre=/bin/rm logs/ -rf
ExecStartPre=/bin/mkdir logs

ExecStart=/var/www/gserv-api/venv/bin/gunicorn app:app -c gunicorn.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

ExecStopPost=/bin/rm gun.sock -f
ExecStopPost=/bin/rm __pycache__/ -rf

KillMode=mixed
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target